@import "../../../../../@styling/main.scss";




.feed {
    height: fit-content;
    margin: auto;
    width: 100%;
    .feed-categories {
        display: flex;
        flex-direction: row;
        .feed-category {
            padding: map-get(
                $paddings,
                app-second-padding
            );
            border-radius: map-get(
                $radiuses,
                app-second-border-radius
            );
            width: 100%;
            text-align: center;
            font-size: 20px;
            &.selected {
                background-color: map-get(
                    $colors,
                    app-primary
                );
                color: white;
            }
        }
    }
}