
@import '../../../../../@styling/main.scss';



.profile-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: map-get(
        $gaps,
        app-second-gap
    );
    padding: map-get(
        $paddings,
        app-second-padding
    );
    background-color: map-get(
        $colors,
        app-background-color-darker
    );
    cursor: pointer;
    width: fit-content;
    border-radius: map-get(
        $radiuses,
        app-first-border-radius
    );
    transition: 0.3s;
    &:hover {
        background-color: map-get(
            $colors,
            app-background-color-darker-2
        );
    }
    .profile-picture {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }
}

.user-profile-home {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: map-get(
        $gaps,
        app-second-gap
    );
    align-items: start;
}

.profile-home-global {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: map-get(
        $gaps,
        app-second-gap
    );
    .profile-informations, .profile-particular-informations, .profile-actions {
        padding: map-get(
            $paddings,
            app-first-padding
        );
        background-color: map-get(
            $colors,
            app-background-color-darker
        );
        border-radius: map-get(
            $radiuses,
            app-first-border-radius
        );
    }

    .profile-body {
        display: flex;
        flex-direction: row;
        gap: map-get(
            $gaps,
            app-second-gap
        );
        * .user-roles {
            display: flex;
            flex-direction: row;
            gap: map-get(
                $gaps,
                app-second-gap
            );
            flex-wrap: wrap;
            .user-role {
                padding: map-get(
                    $paddings,
                    app-third-padding
                ) map-get(
                    $paddings,
                    app-second-padding
                );
                border-radius: map-get(
                    $radiuses,
                    app-second-border-radius
                );
                width: fit-content;
                color:white;
            }
        }
        .profile-particular-informations {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: map-get(
                $gaps,
                app-first-gap
            );
            .field {
                display: flex;
                flex-direction: column;
                gap: map-get(
                    $gaps,
                    app-second-gap
                );
                .field-title {
                    font-weight: bold;
                    color: map-get(
                        $colors,
                        app-text-color-on-background-lighter
                    );
                    font-size: 18px;
                }
                .field-value {
                    color: map-get(
                        $colors,
                        app-text-color-on-background
                    );
                }
            }
        }
        .profile-actions {
            display: flex;
            flex-direction: column;
            gap: map-get(
                $gaps,
                app-second-gap
            );
            width: 30%;
            button {
                width: 100%;
            }
        }
    }
    .profile-informations {
        display: flex;
        flex-direction: row;
        gap: map-get(
            $gaps,
            app-separator-gap
        );
        align-items: center;
        .profile-informations-header {
            display: flex;
            flex-direction: column;
            gap: map-get(
                $gaps,
                app-second-gap
            );
            .profile-name {
                font-size: 25px;
                font-weight: bold;
            }
            .profile-licence {
                font-size: 18px;
                color: map-get(
                    $colors,
                    app-text-color-on-background-lighter
                );
            }
        }
        .profile-picture {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position:relative;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
            button.primary {
                position:absolute;
                bottom: -10px;
                right: -10px;
                transform: scale(0.8);
            }
        }
    }
}