@import '../../../../@styling/main.scss';

.connect-panel {
    width: 60%;
    height: 60vh;
    margin:auto;
    padding: map-get(
        $paddings,
        app-first-padding
    );
    background-color: map-get(
        $colors,
        app-background-color-darker
    );
    border-radius: map-get(
        $radiuses,
        app-first-border-radius
    );
    display: flex;
    flex-direction: column;
    gap: map-get(
        $gaps,
        app-first-gap
    );
    .service-picker {
        display: flex;
        flex-direction: row;
        width: 100%;
        button {
            width: 100%;
        }
    }

    .service-inputs {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: map-get(
            $gaps,
            app-first-gap
        );
    }



    .input-container {
        display: flex;
        margin: auto;
        &.row {
            flex-direction: row;
            gap: map-get(
                $gaps,
                app-first-gap
            );
        }
        &.column {
            flex-direction: column;
            gap: map-get(
                $gaps,
                app-first-gap
            );
        }
    }
}


.get-code {
    display: flex;
    flex-direction: column;
    gap: map-get(
        $gaps,
        app-second-gap
    );
    align-items: center;
    justify-content: center;
    width: 100%;
    .subtext {
        font-size: 14px;
        color: map-get(
            $colors,
            app-text-color-on-background-lighter
        );
    }
    .input {
        width: 100%;
        input {
            width: calc(100% - 30px);
            margin: auto;
        }
    }
    button {
        width: 100%;
    }
}