@import '../../../../@styling/main.scss';

.connect-panel {
    width: 50%;
    min-height: 60vh;
    margin:auto;
    padding: map-get(
        $paddings,
        app-first-padding
    );
    background-color: map-get(
        $colors,
        app-background-color-darker
    );
    border-radius: map-get(
        $radiuses,
        app-first-border-radius
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: map-get(
        $gaps,
        app-first-gap
    );
    .title {
        margin: auto;
        font-size: 24px;
        color: map-get(
            $colors,
            app-text-color-on-background
        );
        font-weight: bold;
    }
    .informations {
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 14px;
        color: map-get(
            $colors,
            app-text-color-on-background-lighter
        );
    }
    .service-inputs {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: map-get(
            $gaps,
            app-first-gap
        );
    }



    .input-container {
        display: flex;
        margin: auto;
        width: 100%;
        &.row {
            flex-direction: row;
            gap: map-get(
                $gaps,
                app-first-gap
            );
        }
        &.column {
            flex-direction: column;
            gap: map-get(
                $gaps,
                app-first-gap
            );
        }
        * .full-length {
            input {
                width: calc(100% - 30px);
            }
            width: calc(100%) !important;
        }
    }
}


.get-code {
    display: flex;
    flex-direction: column;
    gap: map-get(
        $gaps,
        app-second-gap
    );
    align-items: center;
    justify-content: center;
    width: 100%;
    .subtext {
        font-size: 14px;
        color: map-get(
            $colors,
            app-text-color-on-background-lighter
        );
    }
    .input {
        width: 100%;
        input {
            width: calc(100% - 30px);
            margin: auto;
        }
    }
    button {
        width: 100%;
    }

    .message {
        width: calc(
            100% - map-get(
                $paddings,
                app-first-padding
            ) * 2
        );
        padding: map-get(
            $paddings,
            app-first-padding
        );
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: map-get(
            $radiuses,
            app-first-border-radius
        );
        &.success {
            color: map-get(
                $colors,
                functional-success
            );
            background-color: map-get(
                $colors,
                functional-success-lighter
            );
        }
        &.error {
            color: map-get(
                $colors,
                functional-error
            );
            background-color: map-get(
                $colors,
                functional-error-lighter
            );
        }
    }
}